.login, .signup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: $color-lightblue;
    color: $color-black;
    animation: moveDown 2s;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28%;
    background-color: $color-bluedark;
    padding: 1rem 3rem;
    border-top: solid 3px $color-brand;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.logo img {
    width: 200px;
}

.form {
    width: 28%;
    background-color: $color-white;
    padding: .5rem 2rem;
    border: 1px solid #e6e6e6;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.btn-primary {
    background-color: $color-brand;
    border: none;
    width: 100%;
    height: 45px;
    border-radius: 5px;
    color: $color-white;
    font-size: 1rem;
}
.btn-primary:hover {
    cursor: pointer;
    border: 2px solid $color-brand;
    color: $color-white;
    background-color: $color-brand-dark;
}
input {
    padding: 8px;
    border-radius: 5px;
}

button {
    margin: 15px 0;
}

.form-group small {
    margin-top: 0.2rem;
}

.form-link {
    margin: 15px 0;
}

.form-button {
    display: block;
    text-align: center;
    p {
        color: $color-gray;
        
    }
}

.btn-google {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 860px) {
    .form, .logo {
        width: 40%;
    }
}

@media only screen and (max-width: 600px) {
    .form, .logo {
        width: 90%;
    }
}